/runtime
/public/assets
/config/db.php
/config/db/
/config/web.php
/config/console.php
.DS_Store
.buildpath
.project
.settings


/nbproject/
/uploads
.htaccess
.idea/
/index.php
/yii
