@CHARSET "UTF-8";

#patientsubmeter-childbirth_way label {
    margin-right: 30px;
}

#patientsubmeter-childbirth_case label {
    margin-right: 30px;
}
#patientsubmeter-childbirth_hearing label {
    margin-right: 30px;
}