.patient-basic {
    padding-left: 35px;
    padding-right: 35px;
}
.treatment-form {
    /*border: 1px solid #edf1f7;*/
    border-radius: 5px;
    margin-top: 12px;
    margin-bottom: 30px;
}

.basic-content-header{
    background-color: #f4f5f7;
    height: 35px;
    line-height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0.8;
}
.basic-left-info{
    width:20%;
    display: inline-block;
    font-weight:600;
    color: #445064;
    line-height: 10px;

}
.box-detail{
    /*height: 30px;*/
    padding:0 15px !important;
    /*line-height: 30px;*/
    /*background-color:#F4F5F7 ;*/
}
.treatment-content{
    height: 50px;
    /*border-top: 1px solid #edf1f7;*/
    line-height: 50px;
}
.none_radius{
    /*border-bottom: 1px solid #edf1f7;*/
    border-radius: 0px !important;
    box-shadow: 0px 0px 0px;
    margin-bottom: 0px;
}

.modal-footer .form-group{
	text-align:right;
	padding-right:25px;
}
.cure-form .header{
	border:none;
}
form#inspect,form.check-index-form{
	margin-top:0px;
}
.nav-tabs > li > a{
    /*border-bottom:none;*/
}
.nav-tabs > li, .nav-tabs > li:hover, .nav-tabs > li:focus{
    font-weight: 500;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #444;
    /*background: #f7f7f7;*/
}
.nav-tabs > li.active{
    background-color: #fff;
}


