@CHARSET "UTF-8";

#ajaxCrudModal .modal-body{ 
	padding:0px;
}

.medicine-create{
	margin-bottom:5px;
}
.tab-content{
	padding: 20px 20px 5px 20px;
}
.no-medicine{
	position: relative;
    top: 15px;
}
#americanChildren > .no-medicine-view{
	position: relative;
    top: 10px;
}