@CHARSET "UTF-8";


#user-sex label{
    padding-top:5px;
    margin-right:60px;
}
.print-check {
    float: right;
}
.mr-none{
    margin-right: 0 !important;
}
.form-margin{
    margin-top:30px;
}
.btn-group-left{
    background-color: #fff;
    border-radius: 4px;
    color: #76a6ef;
    border: 1px solid #76a6ef;
}
.btn-group-middle{
    background: #fff;
    border: 1px solid #76a6ef;
    color: #76a6ef;
}
.btn-group-right{
    background-color: #fff;
    border-radius: 4px;
    color: #76a6ef;
    border: 1px solid #76a6ef;
}

.btn-group .active{
    background: #76a6ef;
    color: #fff;
}

/*.dispense-form-doc{
    margin: 16px 0;
}
.dispense-form-doc .center{
    text-align: center
}
.dispense-form-doc .right{
    text-align: right
}*/
.header{
    background:  #EDF1F7;
}
/*.pharmacy-search{
    padding: 15px 10px;
    border-bottom: 1px solid #B2C2CD
}*/
.pharmacy-search{
    padding: 6px 15px;
    position: relative;
    border-radius: 3px;
    /*background: #ffffff;*/
    /*margin-bottom: 20px;*/
    width: 100%;
}
.hid{
    display: none;
}

/*覆盖插件的颜色*/
td.kv-group-even{
    background-color: #fff!important;
}

.table-hover td.kv-group-even:hover {
    background-color: #f5f5f5!important;
}

td.kv-group-odd{
    background-color: #fff!important;
}
.table-hover td.kv-group-odd:hover {
    background-color: #f5f5f5!important;
}
.pharmacy-search{
    border-bottom: 0px solid #f4f4f4;
    padding: 6px 20px;
}
.hide_id{
    display: none;
}

.cure-record-index{
    padding-right: 10px;
    padding-left: 10px;
}

.cure-form{
    border: 0.5px solid #DFE0E4;
    border-radius: 0px;
}

.cure-form>thead>tr>th{
    border-bottom: 1px solid #DFE0E4!important;
}
.cure-form>tbody>tr>td{
    border-bottom: 0px solid #DFE0E4;
    border-top:0px solid #DFE0E4;
}

.shadow{
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}
.expire_description{
    text-align: left;
    margin-left: 30px;
}
._description{
    color: #ff7b7b;
}
.skinTest{
    color: #ff4b00 !important;
}
.noSkinTest{
    padding-left: 7%  !important;
}
.table > tbody > tr.recipeNameTd{
    border-top : 2px solid #cacfd8;
}
.table > tbody > tr.recipeNameTd:first-child{
    border-top : none;
}
#my-modal-footer{
    margin-bottom: -30px;
}
#batch-myform, #batch-myform-cancel{
    margin-top: 10px;
}
.recipe-top {
    border-top: 0.25px solid #E0E0E0;
}
.my-show .non-recipe-top {
    border-top: none;
}

.my-show .non-recipe-top td{
    border-top: none !important;
    border-bottom: none !important;
}

.print-check-label {
    float: right;
    margin-right: 20px!important;
}
.print-check-modal {
    margin-right: 20px!important;
}
/*处方管理-新增入库药品合计样式*/
.stock-form .stock-total{
    width: 100%;
    height:30px;
    background-color: #EDF1F7;
    margin-top:-20px;
}
/*处方管理-新增入库药品合计样式*/
.stock-form .stock-total-pre{
    float: right;
    margin-right:30px;
    height:30px;
    line-height: 30px;
    color:#6F7E92;
    font-weight: bold;
}
/*处方管理-新增入库药品合计样式*/
.stock-form .stock-total-pre-num{
    color:#FF5015;
}

@media print {

    /*标签打印的样式*/
    .recipe-print-container{
        /*font-size:1rem;*/
    }
    .recipe-print-container .recipe-print-container-parent{
        font-size:1rem;
        height: 6cm;
        width: 8cm;
        page-break-after: always;
        margin-left:  0.3cm;
        margin-top: 0.2cm;
        padding-right: 0.2cm;
        position: relative;
        word-break:break-all
    }
    .recipe-print-container .top-left{
        float: left;
    }
    .recipe-print-container .top-right{
        float: right;
    }
    .recipe-print-container  .top-hr{
        height: 1px;
        background: #979797;
        border-bottom: 1px solid #979797;
    }
    .recipe-print-container  .bottom-hr{
        border-bottom: 1px solid #979797;
    }
    .recipe-print-container .recipe-name-info{
        font-size:1.2rem;
        font-weight: 600;
    }
    .recipe-print-container .recipe-print-title-h2{
        font-size: 1.2rem;
    }
    .recipe-print-container .ma-top-2{
        padding-top: 0.3rem;
    }
    .recipe-print-container .bottom-info{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-right: 0.2cm;
        /*left: 0.3rem;*/
    }
    .ma-top-hr{
        padding-top: 0.3rem;
    }
    .ma-bottom-hr{
        margin-bottom: 0.1rem;
    }
    .text-overflow {
        width: 3.5cm;
        overflow: hidden; /* 内容超出宽度时隐藏超出部分的内容 */
        text-overflow: ellipsis; /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
        white-space: nowrap; /* 不换行 */
        vertical-align: bottom;
    }
    .text-overflow-recipe{
        width: 6.5cm;
        overflow: hidden; /* 内容超出宽度时隐藏超出部分的内容 */
        text-overflow: ellipsis; /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
        white-space: nowrap; /* 不换行 */
        vertical-align: bottom;
        display: inline-block;
    }
    .note-fz{
        font-size: 1.2rem;
    }
}

.print-recipe-btn{
   display: inline-block;
   float:right;
}
.print-recipe-btn .btn{
  float:none;
}
.print-recipe-btn .btn:last-child{
  margin-right: 0 !important;
}